*{
    margin: 0;
    padding: 0;
    


}



h3{
    margin: auto 1rem;
    color:black;
    font-size: 25px;
}
header{
    position:absolute;
    display:flex;
    justify-content:space-between;
    padding:1rem;
    width:97.45vw;
    height:27px; 
    background:white;


}

.forheading ul{
    display:flex;
    list-style:none;
}

.forheading ul li{
    position: relative;
    bottom:1.5rem;
    left:11rem;
    padding-left: 4rem;
    /* margin:auto rem */
}

.forheading ul li a {
    color:black;
    text-decoration: none;
    font-size: 18px;
}

.forheading ul li a:hover{
    color:darkorange;
}

.secondhead{
   position:relative;
   right:3rem; 
   justify-content:space-around;
   
}

button{
   
    height:45px;
    border-radius: 18px;
    margin:-11px 5px;
    font-size: 1rem;
    font-weight: 500;
    font-family: Arial;
}

.button-two{
    width:5rem;
    background-color: black;
    color:white;


}
.button-two:hover{
    background-color: rgb(55, 50, 50);
}

.button-one{
    width:10rem;
    background-color: transparent;
}
button:hover{
    color:white;
    background:black;
    border:2px solid white
}
a{
    text-decoration: none;
    color: black;
}

a:hover{
    color:darkorange;
}

.section{
    box-shadow: 4rem;
}