

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    outline: none;
  }

  /* variable */
  
:root {
    /* font */
    --ff:"Nunito, san-serif";
    --fs: 1.5rem;
    --fs-xl: 3rem;
  

  /* color */

  --bgcolor:rgb(255, 64, 0);
  --altbgcolor:blue;
  --radial-color:whitesmoke;
  --lightcolor:antiquewhite;
  --darkcolor:#000;



/* square */


--square-bgcolor:papayawhip;
--square-size:max(150px, 20vh);

/* general */

--padding:0.5rem;
--borders: 2px solid var(var(--darkcolor));
--shadows:0 6px 5px-5px var(var(--darkcolor));
}

@media(prefers-color-scheme:dark) {
    root{
        --bgcolor:#000;
        --alt-bgcolor:#333;
        --radial-color:rgb(202,174,202)
    }
}

body{
    font:var(--ff) var(--fs);
    min-height: 100vh;
    background-color: var(--bgcolor);
    background-image: radial-gradient(var(--radial-color),var(--bgcolor));
    display:flex;
    flex-direction: column;
}

header, nav, footer{
    display:grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}

header, footer{
    position:sticky;
    background-color: var(--alt-bgcolor);
}

header{
    top:0;
}

footer{
    bottom:0;
}

main{
    flex-grow:1;
    padding:10px 0;
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-flow: row wrap;
    gap:min(5vw, 55px)
}
nav{
    background-color: var(--lightcolor);
    color:var(--darkcolor);
    padding: var(--padding);
    border-bottom: var(--borders);
    box-shadow:var(--shadows);}

    .square--highlight{
        --square-bgcolor:cornflowerblue;
    }


    .square{
        background-color: var(--square-bgcolor);
        width:var(--square-size);
        height: var(--square-size);
        border:var(--borders);
        border-radius: 15px;
        display:grid;
        place-content: center;
        font-size: var(--fs-xl);
        box-shadow: var(--shadows);
    }