*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: monospace;
    /* min-height: 100vh; */

}

.container{
    display:grid;
    grid-template-columns:repeat(2,2fr);
    gap:1rem;

    
}




/* 16px is 1rem */
.box{
    padding:7rem;
    color:white;
    font-size: 2rem;
    background-color: rgb(0, 0, 0);
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
    border-radius: 5%;
    box-shadow:2px 2px 2px 2px rgb(65, 65, 65) ;
}

.box:nth-child(6) {
    background-color:red;
    color:black;
    
}
.headerl{
    text-align: center;
}

.sidebarl{
    text-align: center;
}

.footerl{
    text-align: center;
}