body{
    background-color: white;
    color:black;
    font-weight: 900;
}


/* div{
    background-color: rgb(39, 39, 37);
    font-size: 12px;
}

p{
    color:white;
    font-size: 25px;
} */




/* #para1 , #para2, #facebook{
    text-align: center;
    color:rgb(243, 90, 29);
} */

/* .one{
    text-align: center;
    color:rgb(63, 176, 201);
}
 */

.one{
    color:green;
}
